/* .margin {
    margin-left: 100px;
} */

.linkmargin {
    margin-left: 20px;
}

.bg-dark {
    background-color: #2a2b2c!important;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav > a {
    float: left;
    position: relative;
}

.active-link {
    color: #2a2b2c!important;;
    background-color: #FFDB00;
    border-color:#FFDB00;
    /* background-color: #FFDB00; */
    border-radius: 5px;
    position: absolute;
    width: auto;
    font-size: 17px;
    /* color: #0b0bef!important; */
}