<ngx-spinner bdOpacity = 1 bdColor = "#2a2b2c"  size = "medium" color = "#ffdb00" type = "line-spin-clockwise-fade"
    [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
</ngx-spinner>
<app-navbar></app-navbar>
<div class="container-fluid">    
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="height: 100px;"></div>
<app-footer></app-footer>