<div class="row" style="margin-top: 70px;">
    <div class="col-6 mx-auto">
        <div class="form-group required">
            <label for="catalog" class="font-weight-bold">Enter Catalog Name:</label>    
            <ng-template #rt let-r="result" let-t="term">{{ r.name}}</ng-template>            
            <input id="catalog" type="text" class="form-control"
                type="text" 
                #instance="ngbTypeahead"
                [(ngModel)]="selectedCatalog" 
                [ngbTypeahead]="search" 
                [resultTemplate]="rt"
                [inputFormatter]="formatter"
                (focus)="focus$.next($event.target.value)"
                (click)="click$.next($event.target.value)">
        </div>
        <div class="form-group required">
            <label for="catalog" class="font-weight-bold">Choose Resume Files:</label>
        </div>
        <div class="form-group">
            <div class="custom-file">
                <input id="resumeFiles" type="file" class="custom-file-input" (change)="onSelectFile($event)" multiple>
                <label class="custom-file-label" for="resumeFiles" *ngIf="!uploadedFiles">select only .txt, .pdf & .docx files</label>
                <label class="custom-file-label" for="resumeFiles" *ngIf="uploadedFiles">{{ uploadedFiles.length }} file(s) selected</label>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <button class="btn btn-success" type="submit" (click)="onSubmit()" 
                [disabled]="!selectedCatalog || !uploadedFiles">Upload
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            </button>   
        </div>
    </div>
</div>