<div class="container" *ngIf="!userCatalogs.length">
    <div class="col-md-10 col-md-offset-1">
        <div class="alert alert-primary" role="alert">
            You have not created catalogs.
        </div>
    </div>
</div>

<div class="col-md-12" *ngIf="userCatalogs.length">
    <div class="row">
        <div class="col-4">
            <div class="form-group required">
                <label class="font-weight-bold">Choose Catalog:</label>
                <angular2-multiselect [data]="userCatalogs" [(ngModel)]="selectedCatalog" 
                    [settings]="catalogSettings" 
                    (onSelect)="onCatalogSelect($event)" 
                    (onDeSelect)="onCatalogDeSelect($event)">
                </angular2-multiselect>            
            </div>
        </div>
        <div class="col-8" style="padding-top: 32px;" *ngIf="selectedCatalog.length">
            <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-4" role="group">
                    <button name="submit" class="btn btn-info tooltip-color" (click)="extractFileData()" 
                    title="To extract keywords data from all files" data-toggle="tooltip" data-placement="top">Extract Data
                        <i class="fa fa-spinner fa-spin" *ngIf="extracting"></i>
                    </button>
                </div>
                <div class="btn-group mr-4" role="group">
                    <button name="submit" class="btn btn-danger tooltip-color" style="padding-right: 10px;" title="delete selected catalog" data-placement="top"
                     data-toggle="tooltip" (click)="deleteCatalog()">Delete
                        <i class="fa fa-spinner fa-spin" *ngIf="deleting"></i>
                    </button>
                </div>                
            </div>
        </div>
    </div>
    <div class="row pb-1 mt-4 mb-1 border-bottom" *ngIf="catalogFiles.length">
        <h5>Catalog Profiles</h5>
    </div>
    <div class="row" *ngIf="catalogFiles.length">
        <div class="col-md-12">
            <br/>
            <table class="table table-striped table-bordered row-border hover order-column stripe" datatable [dtOptions]="dtOptions">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <!-- <th>Actions</th> -->
                        <th>Name</th>
                        <th>Mobile No</th>
                        <th>Email</th>
                        <th>Exp.(Yrs)</th>
                        <th>Skills</th>
                        <th>Qualifications</th>
                        <th>Upload Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let file of catalogFiles; let i = index">
                        <td>{{ i + 1 }}</td>
                        <!-- <td>                            
                            <a class="edit" title="Edit" data-toggle="tooltip" style="color: #FFC107;"  (click)="editFile(file)"><i class="material-icons mode_edit">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip" style="color: #E34724;" (click)="deleteFile(file._id, i)"><i class="material-icons delete_forever">&#xe92b;</i></a>
                            <a class="download" href={{file.download_url}} title="Download" data-toggle="tooltip" style="color: #337ab7;"><i class="material-icons file_download">&#xe2c4;</i></a>
                        </td> -->
                        <td>{{file.Name}}</td>
                        <td>{{file.Mobile_No}}</td>
                        <td>{{file.Email_Address}}</td>
                        <td>{{file.Years_of_Experience}}</td>
                        <td>{{file.Skills}}</td>
                        <td>{{file.Degree}}</td>
                        <td>{{file.created_date}}</td>                        
                        <td>
                            <div class="row">
                                <a class="edit" title="Edit" data-toggle="tooltip" style="color: #FFC107;"  (click)="editFile(file)"><i class="material-icons mode_edit">&#xE254;</i></a>
                                <a class="delete" title="Delete" data-toggle="tooltip" style="color: #E34724;" (click)="deleteFile(file._id, i)"><i class="material-icons delete_forever">&#xe92b;</i></a>
                                <a class="download" href={{file.download_url}} title="Download" data-toggle="tooltip" style="color: #337ab7;"><i class="material-icons file_download">&#xe2c4;</i></a>
                            </div>               
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>